
ul{
    margin: 0;
    padding: 0;
    display: flex;
}

ul li{
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}

ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color:#fff;
    text-transform: uppercase;
    transition: 0.5s;
}

ul:hover li a{
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}

ul li a:hover{
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
    color:#fff;
}
.navbar{
    background-color: #1b1c1c;
    color:#fff;
}

#navbarTogglerDemo03{
    justify-content: center;
    color:#fff;
    margin-left: auto;
    margin-right: auto;
}


#logo a{
    color:#fff;
    margin-left: 5px;
}

#logo img{
margin-top:5%;
}
