.container{
    background-image: url("../../assets/background1.png");
  /* Full height */
  min-height: 800px;
  min-width: 100%;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}